<mat-toolbar>
  <div fxLayoutAlign="start center">
    <img src="../criteo-webinar/assets/criteo-logo.svg" style="height: 40px; margin-left: 10px; margin-right: 20px">
    <h1>{{ title }}</h1>
  </div>
</mat-toolbar>

<div fxLayout="column"
     fxLayoutAlign="center"
     class="container">

  <H2 style="text-align: center">
    Thanks for attending the Criteo Front-End Meetup.
  </H2>

  <p style="text-align: center">Feel free to join the discussion rooms to meet our speakers and ask questions regarding what they presented or simply to chit chat!</p>

    <div class="content" fxLayoutAlign="center top" fxLayout="row wrap" fxLayoutGap="16px grid">

      <div fxFlex="22%" fxFlex.md="50%" fxFlex.lt-md="100%" *ngFor="let talk of talks">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="avatar" style="background-image: url('{{talk.avatar}}')"></div>
            <mat-card-title>{{ talk.presenter }}</mat-card-title>
            <mat-card-subtitle style="min-height: 35px">{{ talk.job }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{ talk.image }}">
          <mat-card-content>
            <p style="min-height: 50px">
              {{talk.title}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="openLink(talk.zoomLink)">Join Room</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

</div>
