mat-toolbar {
  justify-content: space-between;
  background-color: #115f8d;
  color: white;
}

.content {
  padding: 16px;
}

.container {
  margin-top: 60px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.avatar {
  background-size: cover;
}
